<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reward</title>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="content-container" id="content">
        <h2>Add New Reward</h2>
        <form action="/rewards/add" method="POST" enctype="multipart/form-data">

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Description:</label><br>
        <input type="text" name="description" required><br><br>

        <label>Points:</label><br>
        <input type="number" name="points" required><br><br>

        <label>Stock:</label><br>
        <input type="number" name="stock" required><br><br>

        <label>Image:</label><br>
        <input type="file" name="image" required><br><br>

        <button type="submit">Add Reward</button>
        </form>

        <a href="/rewards" class="back-button">Back to Rewards</a>

    </div>
</body>
</html>